<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/tailwind.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Sketch Studio</title>
</head>
<body class="relative">
<div id="app">
    <!--Main navigation section-->
    <header class="main-nav flex items-center justify-between bg-white px-16 z-10">
        <a href="./index.html"><img src="./assets/imgs/sketch-logo 1.png" alt="" class="logo"></a>
        <div class="right flex items-center space-x-40">
            <nav class="flex space-x-8">
                <a href="./expertise.html">EXPERTISE</a>
                <a href="#">PROJECTS</a>
                <a href="#">NEWS</a>
                <a href="#">ABOUT US</a>
                <a href="#">CONTACT US</a>
            </nav>
            <a href="#"><img src="./assets/imgs/Group 41.svg" alt="" class="search"></a>
        </div>
    </header>

    <!--Landing Section-->
    <section class="landing px-16 flex items-center justify-center">
        <div class="txt flex flex-col items-center justify-center space-y-0">
            <h4>WELCOME TO SKETCH STUDIOS</h4>
            <h1>The mastery of beauty expressed in <br> homes & office spaces.</h1>
        </div>
    </section>

    <!--Page Contents-->
    <section class="contents flex-col flex items-center justify-between px-32">
        <!--About-->
        <div class="about flex flex-col items-center justify-center py-10 mt-10">
            <span class="line"></span>
            <h4 class="mt-2">ABOUT</h4>
            <p class="mt-10">At Sketch Studio, we understand that your living and working spaces 
            should be functional & liveable - This is why we design. Are looking to 
            build your dream home, want to transform your office space, have a 
            commercial building project you need worked on – We have been 
            expecting you. We offer architectural design solutions, interior design 
            and consultancy (for residential, commercial and office), project 
            management and post contract supervision.</p>
            <h5 class="mt-10">We know buildings.</h5>
        </div>
        <!--Process-->
        <div class="process py-10 mt-10 flex flex-col items-center justify-center">
            <span class="line"></span>
            <h4 class="mt-2">PROCESS</h4>
            <div class="grid grid-cols-3 col-gap-8 row-gap-24 justify-center content-center items-center object-center center mt-16">
                <div class="crd flex flex-col space-y-16">
                    <img src="./assets/imgs/Group 40.svg" alt="" class="vector-img">
                    <div class="txt space-y-3">
                        <h5>INCEPTION & FEASIBILITY</h5>
                        <p>Obtain general background information and inform client of responsibilities.Organize nucleus design team with client, firm up scope of work, create client query list and receive response, ensure other consultants are appointed.</p>
                    </div>
                </div>
                <div class="crd flex flex-col space-y-16">
                    <img src="./assets/imgs/Group 34.svg" alt="" class="vector-img">
                    <div class="txt space-y-3">
                        <h5>PROPOSAL DESIGN</h5>
                        <p>Obtain general background information 
                            and inform client of responsibilities. 
                            Organize nucleus design team with 
                            client, firm up scope of work, create
                             client query list and receive response, 
                            ensure other consultants are appointed.</p>
                    </div>
                </div>
                <div class="crd flex flex-col space-y-16">
                    <img src="./assets/imgs/Group 36.svg" alt="" class="vector-img">
                    <div class="txt space-y-3">
                        <h5>DOCUMENTATION</h5>
                        <p>Obtain general background information 
                            and inform client of responsibilities. 
                            Organize nucleus design team with 
                            client, firm up scope of work, create
                             client query list and receive response, 
                            ensure other consultants are appointed.</p>
                    </div>
                </div>
                <div class="crd flex flex-col space-y-16">
                    <img src="./assets/imgs/Group 37.svg" alt="" class="vector-img">
                    <div class="txt space-y-3">
                        <h5>BILL OF QUANTITIES</h5>
                        <p>Obtain general background information 
                            and inform client of responsibilities. 
                            Organize nucleus design team with 
                            client, firm up scope of work, create
                             client query list and receive response, 
                            ensure other consultants are appointed.</p>
                    </div>
                </div>
                <div class="crd flex flex-col space-y-16">
                    <img src="./assets/imgs/Group 38.svg" alt="" class="vector-img">
                    <div class="txt space-y-3">
                        <h5>TENDER ACTION</h5>
                        <p>Obtain general background information 
                            and inform client of responsibilities. 
                            Organize nucleus design team with 
                            client, firm up scope of work, create
                             client query list and receive response, 
                            ensure other consultants are appointed.</p>
                    </div>
                </div>
                <div class="crd flex flex-col space-y-16">
                    <img src="./assets/imgs/Group 35.svg" alt="" class="vector-img">
                    <div class="txt space-y-3">
                        <h5>PROJECT PLANNING</h5>
                        <p>Obtain general background information 
                            and inform client of responsibilities. 
                            Organize nucleus design team with 
                            client, firm up scope of work, create
                             client query list and receive response, 
                            ensure other consultants are appointed.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Services-->
        <div class="services py-10 mt-10 flex flex-col items-center justify-center">
            <span class="line"></span>
            <h4 class="mt-2">SERVICES</h4>
            <p class="mt-6 text-center">Obtain general background information and inform client of responsibilities. Organize nucleus design team with client, firm up scope of work, create client query list and receive response, ensure other consultants are appointed.</p>

            <div class="carousel flex space-x-8 mt-10">
                <div v-if="current_slider==1" class="slider-item grid grid-cols-2 gap-8 items-center justify-center">
                    <div class="img-box relative">
                        <img src="./assets/imgs/Rectangle 14.jpg" alt="" class="w-full h-full">
                        <span class="number">01 /</span>
                    </div>
                    <div class="details">
                        <h3>Architectural Design</h3>
                        <p class="mt-16">Obtain general background information and inform client of responsibilities.</p>
                        <p class="mt-3">Organize nucleus design team with client, firm up scope of work, create</p>
                        <p class="mt-3">client query list and receive response, ensure other consultants are appointed.</p>
                    </div>
                </div>
                <div v-if="current_slider==2" class="slider-item grid grid-cols-2 gap-8 items-center justify-center">
                    <div class="img-box relative">
                        <img src="./assets/imgs/Rectangle 14.jpg" alt="" class="w-full h-full">
                        <span class="number">02 /</span>
                    </div>
                    <div class="details">
                        <h3>INTERIOR DESIGN CONSULTANCY</h3>
                        <p class="mt-16">Obtain general background information and inform client of responsibilities.</p>
                        <p class="mt-3">Organize nucleus design team with client, firm up scope of work, create</p>
                        <p class="mt-3">client query list and receive response, ensure other consultants are appointed.</p>
                    </div>
                </div>
                <div v-if="current_slider==3" class="slider-item grid grid-cols-2 gap-8 items-center justify-center">
                    <div class="img-box relative">
                        <img src="./assets/imgs/Rectangle 14.jpg" alt="" class="w-full h-full">
                        <span class="number">03 /</span>
                    </div>
                    <div class="details">
                        <h3>PROJECT MANAGEMENT SERVICE</h3>
                        <p class="mt-16">Obtain general background information and inform client of responsibilities.</p>
                        <p class="mt-3">Organize nucleus design team with client, firm up scope of work, create</p>
                        <p class="mt-3">client query list and receive response, ensure other consultants are appointed.</p>
                    </div>
                </div>
                <div v-if="current_slider==4" class="slider-item grid grid-cols-2 gap-8 items-center justify-center">
                    <div class="img-box relative">
                        <img src="./assets/imgs/Rectangle 14.jpg" alt="" class="w-full h-full">
                        <span class="number">04 /</span>
                    </div>
                    <div class="details">
                        <h3>POST CONTRACT MANAGEMENT</h3>
                        <p class="mt-16">Obtain general background information and inform client of responsibilities.</p>
                        <p class="mt-3">Organize nucleus design team with client, firm up scope of work, create</p>
                        <p class="mt-3">client query list and receive response, ensure other consultants are appointed.</p>
                    </div>
                </div>
                <div class="icons flex flex-col items-center justify-center space-y-5">
                    <span class="icn-box next flex items-center justify-center cursor-pointer" @click="nextSlide()" v-if="current_slider <= 3">
                        <img src="./assets/imgs/Vector 1.png" alt="">
                    </span>
                    <span class="icn-box prev flex items-center justify-center cursor-pointer" @click="prevSlide()" v-if="current_slider >= 2">
                        <img src="./assets/imgs/Vector 2.png" alt="">
                    </span>
                    <span class="icn-box cancel flex items-center justify-center space-x-0 m-0 p-0 cursor-pointer" @click="resetSlide()">
                        <img src="./assets/imgs/Vector 1.png" alt="">
                        <img src="./assets/imgs/Vector 2.png" alt="">
                    </span>
                </div>
            </div>
        </div>
        <!--Projects-->
        <div class="projects py-10 mt-10 flex flex-col items-center justify-center">
            <span class="line"></span>
            <h4 class="mt-2">PROJECTS</h4>
            <p class="mt-6 text-center">Obtain general background information and inform client of responsibilities. Organize nucleus design team with client, firm up scope of work, create client query list and receive response, ensure other consultants are appointed.</p>
            <div class="tab w-full flex items-center justify-between px-4 mt-10">
                <h6 class="uppercase cursor-pointer active">Architectural Design</h6>
                <h6 class="uppercase cursor-pointer">INTERIOR Design</h6>
                <h6 class="uppercase cursor-pointer">PROJECT MANAGEMENT</h6>
                <h6 class="uppercase cursor-pointer">POST CONTRACT SUPERVISION</h6>
            </div>
            <div class="grid grid-cols-3 gap-10 justify-center content-center items-center object-center center mt-16">
                <div class="prj-item flex flex-col items-center justify-center space-y-4 relative p-5">
                    <img src="./assets/imgs/Rectangle 19.jpg" alt="" class="absolute top-0 left-0 w-full h-full object-cover">
                    <h6 class="uppercase">THE PINNACLE</h6>
                    <span class="line"></span>
                    <h2 class="uppercase">UPPERHILL, NAIROBI</h2>
                </div>
                <div class="prj-item flex flex-col items-center justify-center space-y-4 relative p-5">
                    <img src="./assets/imgs/grid/Rectangle 20.jpg" alt="" class="absolute top-0 left-0 w-full h-full object-cover">
                    <h6 class="uppercase">LAKEVIEW 2</h6>
                    <span class="line"></span>
                    <h2 class="uppercase">LAKEVIEW ESTATE</h2>
                </div>
                <div class="prj-item flex flex-col items-center justify-center space-y-4 relative p-5">
                    <img src="./assets/imgs/grid/Rectangle 21.jpg" alt="" class="absolute top-0 left-0 w-full h-full object-cover">
                    <h6 class="uppercase">RUNDA HOUSE 2</h6>
                    <span class="line"></span>
                    <h2 class="uppercase">RUAKA DRIVE, RUNDA</h2>
                </div>
                <div class="prj-item flex flex-col items-center justify-center space-y-4 relative p-5">
                    <img src="./assets/imgs/grid/Rectangle 22.jpg" alt="" class="absolute top-0 left-0 w-full h-full object-cover">
                    <h6 class="uppercase">TUNE HOTEL</h6>
                    <span class="line"></span>
                    <h2 class="uppercase">RHAPTA ROAD, WESTLANDS</h2>
                </div>
                <div class="prj-item flex flex-col items-center justify-center space-y-4 relative p-5">
                    <img src="./assets/imgs/grid/Rectangle 23.jpg" alt="" class="absolute top-0 left-0 w-full h-full object-cover">
                    <h6 class="uppercase">ENCEE PLACE</h6>
                    <span class="line"></span>
                    <h2 class="uppercase">MUGUGA GREEN BROOKSIDE</h2>
                </div>
                <div class="prj-item flex flex-col items-center justify-center space-y-4 relative p-5">
                    <img src="./assets/imgs/grid/Rectangle 24.jpg" alt="" class="absolute top-0 left-0 w-full h-full object-cover">
                    <h6 class="uppercase">GENERAL MATHENGE</h6>
                    <span class="line"></span>
                    <h2 class="uppercase">JESSANI VILLAS</h2>
                </div>
                <div class="prj-item flex flex-col items-center justify-center space-y-4 relative p-5">
                    <img src="./assets/imgs/grid/Rectangle 25.jpg" alt="" class="absolute top-0 left-0 w-full h-full object-cover">
                    <h6 class="uppercase">CAPITAL CLUB</h6>
                    <span class="line"></span>
                    <h2 class="uppercase">IMPERIAL COURT</h2>
                </div>
                <div class="prj-item flex flex-col items-center justify-center space-y-4 relative p-5">
                    <img src="./assets/imgs/grid/Rectangle 26.jpg" alt="" class="absolute top-0 left-0 w-full h-full object-cover">
                    <h6 class="uppercase">FUTURES FIRST</h6>
                    <span class="line"></span>
                    <h2 class="uppercase">DELTA CORNER, WESTLANDS</h2>
                </div>
                <div class="prj-item flex flex-col items-center justify-center space-y-4 relative p-5">
                    <img src="./assets/imgs/grid/Rectangle 27.jpg" alt="" class="absolute top-0 left-0 w-full h-full object-cover">
                    <h6 class="uppercase">SCANAD</h6>
                    <span class="line"></span>
                    <h2 class="uppercase">THE CHANCERY, VALLEY ROAD</h2>
                </div>
            </div>
        </div>
        <!--Contact-->
        <div class="contact py-10 mt-10 flex flex-col items-center justify-center">
            <span class="line"></span>
            <h4 class="mt-2">REACH US</h4>
            <form class="w-full mt-8">
                <div class="grid grid-cols-2 gap-12">
                    <input type="text" name="name" class="p-3" placeholder="Name">
                    <input type="email" name="email" class="p-3" placeholder="Email Address">
                </div>
                <textarea name="" id="" cols="30" rows="10" class="p-3 mt-10" placeholder="Tell us more"></textarea>
            </form>
        </div>
    </section>

    <!--Footer-->
    <footer class="bg-white px-16">
        <div class="intro flex flex-col items-center justify-center space-y-2">
            <img src="./assets//imgs//sketch-logo 1.png" alt="" class="foot_logo">
            <p class="text-center">Sketch Studio was established in 2007 driven 
                by pursuit of quality in the industry. Today we 
                pride ourself with extensive portfolio consisting 
                of projects in Kenya, Uganda, Tanzania, South 
                Sudan and Rwanda.</p>
        </div>
        <div class="links flex flex-col items-center justify-center">
            <div class="top grid grid-cols-3 col-gap-24 row-gap-4">
                <a href="#">Expertise</a>
                <a href="#">News</a>
                <a href="#">Contact Us</a>
                <a href="#">Projects</a>
                <a href="#">About Us</a>
                <a href="#">Sitemap</a>
            </div>
            <div class="w-auto">
                <p class="mt-16 -ml-40">Designed by OcularProductions @2021</p>
            </div>
        </div>
        <div class="social flex items-center justify-center space-x-5">
            <div class="icon flex iitems-center justify-center p-3">
                <img src="./assets/imgs/Vector.svg" alt="">
            </div>
            <div class="icon flex iitems-center justify-center p-3">
                <img src="./assets/imgs/Vectortwitter.svg" alt="">
            </div>
        </div>
    </footer>
</div>

<!--Vue js script-->
<script src="./js/vue.js"></script>
<script>
    let vue1 = new Vue({
        el: '#app',
        data: {
            current_slider: 1,
        },
        methods: {
            nextSlide() {
                this.current_slider += 1
            },
            prevSlide() {
                this.current_slider -= 1
            },
            resetSlide() {
                this.current_slider = 1
            }
        },
    });
    
</script>
</body>
</html>